
/* css */
body {
  background-color: #313034 !important;
  font-family: 'IBM Plex Mono', monospace !important;
  /*text-transform: uppercase !important;*/
  color: white !important;
  text-align: center !important;
}

h1 {
  font-weight: 500 !important;
}

h2 {
  font-weight: 300 !important;
  font-size: 24px !important;
}

h3 {
  font-weight: 300 !important;
  font-size: 18px !important;
  color: white !important;
}

button {

}
#username {
  width: 50% !important;
}
#form {
  color: black !important;
  background-color: white;
  padding: 50px;
  display: flex !important;
  justify-content: center !important;
}
