/* css */
/*elements------------------------------------------------------------*/
body {
  background-color: white !important;
  font-family: 'IBM Plex Mono', monospace !important;
  /*text-transform: uppercase !important;*/
  color: black !important;
  text-align: center !important;
  justify-content: space-evenly !important;
  font-size: 12px !important;}

h1 {font-weight: 500 !important; font-size: 32px !important;}
h2 {font-weight: 300 !important; font-size: 24px !important;}
h3 {font-weight: 500 !important; font-size: 16px !important;}
p {font-size: 12px !important;}
textarea {
  width: 100%;
  color: black;
  justify-content: center;
  text-align: center;
  padding-top: .2rem;}
a {
  text-decoration: none !important;
  color: white !important;
  padding-top: .5rem !important;
  padding-bottom: .5rem !important;}
a:active {color: white !important;}
/*classes-------------------------------------------------------------*/
/* text adjustments */
.blackText {
  color: black;
}
.accentText {
  color: #FF8D4E;
}
.whiteText {
  color: white;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
/* containers */
.accentCont {
  background-color:  #FF8D4E !important;
}
.whiteCont {
  background-color: white !important;
  height: 100%;
}

.accentCont, .whiteCont {
  justify-content: center !important;
  padding: 1.2rem;
}
/* SVGs */
.duckLogo {
  max-width: 10rem;
  max-height: 10rem;
}
.icon {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

/*containers*/
.col{
  padding-left: ;
  padding-right: ;
}
.row{
  margin-bottom: 1.5rem;
  margin-top: ;
}
.box {
  width: 100%;
  height: 100%;
  background-color: grey;
}
.boxw {
  width: 100%;
  height: 100%;
  background-color: white;
}
.centeredCont {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  justify-content: center !important;
}
.border {
  border: .2rem solid red;
}
.socials {
  width: 15px;
  height: 15px;
}
.spacer {height: 3rem;}
.accent {background-color: #FF8D4E !important;}
.white {background-color: white !important;}

.treatment {background-color: grey !important; color: white !important;}
.treatment:hover {background-color: #FF8D4E !important; color: white !important;}

/*ids------------------------------------------------------------------*/
#iconBox {
  width:5rem;
  height:5rem;
}
#instructions {
  width: 50% !important;
  justify-content: center !important;
}
#list {
  padding-left: 20% !important;
  text-align: left !important;
}
#report {
  color: black !important;
  background-color: white;
  padding: 2rem;
  justify-content: center !important;
}
#down {
  margin-top: 2rem;
  width: 12rem !important;
  height: 4rem !important;
  border-radius: 2rem !important;
  border: .2rem solid white !important;
}
#down a:hover {
  color: #FF8D4E !important;
}
.reportButton {
  border-radius: .01rem !important;
  width: 50% !important;
  height: 3rem !important;
  color: white !important;
  background-color: #FF8D4E !important;
  border: none !important;
  cursor:pointer !important;
}

/*button shit*/
button {
  border-radius: .01rem !important;
  width: 100% !important;
  height: 3rem !important;
  color: white !important;
  background-color: #FF8D4E !important;
  border: none !important;
  cursor:pointer !important;
  /*transition:800ms ease all !important;*/
}

button:hover {
  border-radius: .01rem !important;
  width: 100% !important;
  height: 3rem !important;
  border: 0.25rem solid #FF8D4E !important;
  color: #FF8D4E !important;
  background-color: white !important;
}

:button {
  border-radius: .01rem !important;
  width: 100% !important;
  height: 3rem !important;
  border: 0.25rem solid #FF8D4E !important;
  color: #FF8D4E !important;
  background-color: white !important;
}

/*ids------------------------------------------------------------------*/
/* The Modal (background)*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2 !important; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  background-color: #aaaaaa !important;
  float: right;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*mainNav*/
#mainNav .navbar-brand {
  color: #fff;
}
#mainNav .navbar-nav {
  margin-top: 1rem;
}
#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #fff;
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #4B4B4B !important;
  background-color: white !important;
}
#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #fff !important;
  background-color: white !important;
}
#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #4B4B4B !important;
  background-color: white !important;
}

/*-------------------------NAVIGATION----------------------------------*/
/*-------------------------HEADER/SPLASH----------------------------------*/
/*-------------------------MAIN CONTENT----------------------------------*/
/*-------------------------FOOTER----------------------------------*/
footer {
  color: white !important;
  background-color: #4B4B4B;
  justify-content: center;
  text-align: center;
  font-size: 10px;
  padding: 2rem;
}

#footer {
  width: 100%;
}
/*-------------------------RESPONSIVE LAYOUT----------------------------------*/

/* sm */
@media (min-width: 576px) {
  body {font-size: 16px !important;}
  h1 {font-size: 32px !important;}
  h2 {font-size: 24px !important;}
  h3 {font-size: 20px !important;}
  p {font-size: 16px !important;}
  footer {font-size: 12px !important;}
  .socials {
    width: 15px !important;
    height: 15px !important;
  }
}

/* med */
@media (min-width: 768px) {
  body {font-size: 18px !important;}
  h1 {font-size: 44px !important;}
  h2 {font-size: 32px !important;}
  h3 {font-size: 24px !important;}
  p {font-size: 18px !important;}
  footer {font-size: 10px !important;}
  .socials {
    width: 20px !important;
    height: 20px !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {font-size: 18px !important;}
  h1 {font-size: 44px !important;}
  h2 {font-size: 32px !important;}
  h3 {font-size: 24px !important;}
  p {font-size: 18px !important;}
  footer {font-size: 14px !important;}
  .socials {
    width: 30px !important;
    height: 30px !important;}}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {font-size: 22px !important;}
  h1 {font-size: 48px !important;}
  h2 {font-size: 36px !important;}
  h3 {font-size: 28px !important;}
  p {font-size: 22px !important;}
  footer {font-size: 16px !important;}
  .socials {
    width: 35px !important;
    height: 35px !important;}}
