
/* css */
body {
  background-color: #313034 !important;
  font-family: 'IBM Plex Mono', monospace !important;
  /*text-transform: uppercase !important;*/
  color: white !important;
  text-align: center !important;
}

h1 {
  font-weight: 500 !important;
}

h2 {
  font-weight: 300 !important;
  font-size: 24px !important;
}

h3 {
  font-weight: 300 !important;
  font-size: 22px !important;
  color: black !important;
}

button {

}
